# dependencies
/node_modules

# testing
/coverage

# production
/dist
/build

# local env files
.env
.env.local
.env.development
.env.test
.env.production

# vscode
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store